.modal-container {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeeebd;
}

.modal-box {
  width: 260px;
  height: 100px;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  margin-top: -50px;
}

.modal-content {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirm {
  border-top: 1px solid rgb(231, 231, 231);
  color: rgb(60, 60, 213);
  padding: 0.4em;
  cursor: pointer;
}
